<div class="controls">
    <button (click)="dealHands()" [disabled]="hands.length">Deal
        <input
            [(ngModel)]="numberOfHands"
            (click)="$event.stopPropagation()"
            pattern="(^[1-9]{1,}$)"
            type="tel"
        />
        <span>Hands</span>
        <input
            [(ngModel)]="handSize"
            (click)="$event.stopPropagation()"
            pattern="(^[1-9]{1,}$)"
            type="tel"
        />
        <span>Cards each</span>
    </button>
    <button (click)="showDeck = !showDeck">
        {{ showDeck ? 'Hide' : 'Show' }} Deck
    </button>
    <button (click)="shuffleDeck()">Shuffle</button>
</div>
<div class="deck" [class.hide]="!showDeck">
    <ul>
        <li *ngFor="let card of deck.cards" [ngClass]="[card.suit, card.face]" card>
            {{ card.face }}
        </li>
    </ul>
    <span class="count">Count: {{ deck.cards.length }}</span>
</div>
<div class="deal" [class.hide]="showDeck">
    <dl *ngFor="let hand of hands; let idx = index;">
        <dt>
            Hand #{{ idx + 1 }}
            <button (click)="hand.visible = !hand.visible">
                {{ hand.visible ? 'hide' : 'show' }} cards
            </button>
        </dt>
        <dd [class.show]="hand.visible">
            <ul>
                <li
                    *ngFor="let handCard of hand"
                    [ngClass]="[handCard.suit, handCard.face]"
                    card
                >
                    {{ handCard.face }}
                </li>
            </ul>
            <span class="count">Count: {{ hand.length }}</span>
        </dd>
    </dl>
</div>
