<div class="controls">
    <button (click)="shuffleDeck()">Shuffle Deck</button>
    <button (click)="showDeck = !showDeck">
        {{ showDeck ? 'Hide' : 'Show' }} Deck
    </button>
    <button (click)="dealHands()">Deal
        <input
            [ngModel]="numberOfHands"
            (click)="$event.stopPropagation()"
            pattern="(^[1-9]{1,}$)"
            type="tel"
        />
        <span>Hands</span>
        <input
            [ngModel]="handSize"
            (click)="$event.stopPropagation()"
            pattern="(^[1-9]{1,}$)"
            type="tel"
        />
        <span>Cards each</span>
    </button>
</div>
<div class="deck" [class.hide]="!showDeck">
    <ul>
        <li *ngFor="let card of deck.cards" [ngClass]="['card', card.getSuit, card.getFace]">
            {{ card.getFace }}
        </li>
    </ul>
</div>
<div class="deal">
    <dl *ngFor="let hand of hands; let idx = index;">
        <dt>Hand #{{ idx + 1 }}</dt>
        <dd>
            <ul>
                <li
                    *ngFor="let handCard of hand"
                    [ngClass]="['card', handCard.getSuit, handCard.getFace]"
                >
                    {{ handCard.getFace }}
                </li>
            </ul>
        </dd>
    </dl>
</div>
