@require '../layout/global.variables'

:host
    background $primary-med-light
    color $white
    display block
    overflow auto
    relative()
    widthHeight 100% auto
    h1
        absolute auto auto 1em 1em
        margin 0
        sansSemibold '2em/1'
