@require '../layout/global.variables'

:host
    background $primary-light
    color $white
    display block
    overflow auto
    relative()
    widthHeight 100% 5em
    h1
        // absolute auto auto 1em 1em
        margin 0
        sansSemibold '2em/1.75'
        text-align center
        text-transform uppercase
