<section>
    <h1>Artificial Life?</h1>
    <div>
        In the 1950s, a mathmetician, Nils Aall Barricelli, created the first forms of artificial
        life, using mathmatics and early computing technology to run digital experiments using the
        rules of evolution and symbiogenesis. Presented here is a replication of his early work,
        based on work by
        <a href="http://cultureandcommunication.org/galloway/Barricelli/">Alexander R. Galloway</a>.
        <br />
        As Galloway explains,
        <blockquote>
            Each swatch of textured color within the image indicates a different bionumeric
            organism. Borders between color fields mean that an organism has perished, been borne,
            mutated, or otherwise evolved into something new.
        </blockquote>
    </div>
    <button (click)="createLife()">Run experiment again</button>
</section>
<canvas #primordialSoup width="512" height="512"></canvas>
