@require '../shared/layout/global.variables'

:host
    display block
    overflow auto
    relative()
    width 100%
    canvas
        absolute 50% 0
        border 1px solid #000
        transform translateY(-50%)
    section
        padding 0 5%
        width calc(90% - 512px)