@require './shared/layout/global.variables'

:host
    display block
    widthHeight 100%
    app-footer
        height 5vh
    app-header
        height 15vh
    .content
        display flex
        margin 0 auto
        min-height 80vh
        width 800px
