@require './shared/layout/global.variables'

:host
    display block
    margin 0 auto
    max-width 750px
    widthHeight 100%
    .content
        background $white
        display flex
        margin 0 auto
        min-height calc(100vh - 10em)
        /*min-width 800px
        padding 0 5%*/
