// color palette
$primary = rgb(47, 65, 114)
$primary-dark = rgb(6, 20, 57)
$primary-light = rgb(121, 134, 172)
$primary-med-dark = rgb(22, 39, 86)
$primary-med-light = rgb(79, 96, 143)

$complement = rgb(170, 134, 57)
$complement-dark = rgb(85, 58, 0)
$complement-light = rgb(255, 228, 170)
$complement-med-dark = rgb(128, 93, 21)
$complement-med-light = rgb(212, 178, 106)

$error = rgb(255, 0, 0)
$text = rgb(30, 30, 30)
$white = rgb(255, 255, 255)

@require 'mixins'
