/* Color Palette */

/* Main Primary color */

$primary = rgb(10, 66, 96); // #0A4260
$primary-lightest = rgb(9, 100, 149); // #096495
$primary-light = rgb(13, 81, 118); // #0D5176
$primary-dark = rgb(3, 45, 67); // #032D43
$primary-darkest = rgb(2, 26, 39); // #021A27

/* Main Secondary color (1) */

$secondary-1 = rgb(19, 27, 104); // #131B68
$secondary-1-lightest = rgb(23, 36, 162); // #1724A2
$secondary-1-light = rgb(24, 34, 128); // #182280
$secondary-1-dark = rgb(10, 16, 73); // #0A1049
$secondary-1-darkest = rgb(6, 9, 43); // #06092B

/* Main Secondary color (2) */

$secondary-2 = rgb(151, 112, 8); // #977008
$secondary-2-lightest = rgb(235, 171, 2); // #EBAB02
$secondary-2-light = rgb(186, 138, 11); // #BA8A0B
$secondary-2-dark = rgb(105, 77, 0); // #694D00
$secondary-2-darkest = rgb(62, 45, 0); // #3E2D00

/* Main Complement color */

$complement = rgb(151, 86, 8); // #975608
$complement-lightest = rgb(235, 128, 2); // #EB8002
$complement-light = rgb(186, 106, 11); // #BA6A0B
$complement-dark = rgb(105, 57, 0); // #693900
$complement-darkest = rgb(62, 34, 0); // #3E2200
