@require '../../layout/global.variables'

:host
    absolute auto 0 0 0
    background $primary-lightest
    ul
    li
        list-style none
        margin 0
        padding 0
    ul
        display flex
        justify-content space-between
        margin 0 auto
        width 100%
        a
            color $white
            padding 0 1em
            sansSemibold '1em/1.5'
            text-transform uppercase
            &.active
                border-bottom solid 2px $primary-light
