@require './shared/layout/global.variables'

:host
    display block
    widthHeight 100%
    app-footer
        height 5vh
    app-header
        height 25vh
    .content
        margin 0 auto
        min-height 70vh
        width 800px
        iframe
            widthHeight 100% 70vh
