@require '../shared/layout/global.variables'

:host
    display block
    padding 0 5%
    width 90%
    h2
        text-align center
    button
        display block
        margin 1em auto