@require '../layout/global.variables'

:host
    align-items center
    background $primary-darkest
    display flex
    justify-content space-between
    padding 0 .5em
    text-align center
    widthHeight calc(100% - 1em) 5em
    a
        color $primary-lightest
        display block
        sansSemibold '1em/1'
        text-transform uppercase
