@require '../layout/global.variables'

:host
    align-items center
    background $primary-dark
    color $white
    display flex
    justify-content space-between
    padding 0 15%
    text-align center
    width 70%
    a
        display block
        sansSemibold '1em/1'
        text-transform uppercase
